@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: bebas;
	font-display: swap;
	src: url("../fonts/bebas-neue-cyrillic1.woff2") format("woff2"), url("../fonts/bebas-neue-cyrillic1.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTTravelsExtraBold;
	font-display: swap;
	src: url("../fonts/TTTravelsExtraBold.woff2") format("woff2"), url("../fonts/TTTravelsExtraBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: onektubular;
	font-display: swap;
	src: url("../fonts/onektubular.woff2") format("woff2"), url("../fonts/onektubular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTTravelsMedium;
	font-display: swap;
	src: url("../fonts/TTTravelsMedium.woff2") format("woff2"), url("../fonts/TTTravelsMedium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: TTTravelsDemiBoldItalic;
	font-display: swap;
	src: url("../fonts/TTTravelsDemiBoldItalic.woff2") format("woff2"), url("../fonts/TTTravelsDemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
